
// Colors
$--color-white = #ffffff;
$--color-black = #000000;
$--color-primary = #0a72e8;
// -----------------------------------------------------------------------------------------------------------------
// Form
$--form-color = #333;
$--form-placeholder-color = #b3b3b3;
$--form-background-color = #ffffff;
$--form-boder-width = 1px;
$--form-boder-style = solid;
$--form-boder-color = #cccccc;
$--form-boder-radius = 0px;
$-form-border = $--form-boder-width $--form-boder-style $--form-boder-color;
$-form-hover-border-color = #c0c4cc;
$--form-disabled-color = #c0c4cc;
$--form-disabled-background-color = #F6F9FB;
$--form-disabled-border-color = #E3E8EA;
// -----------------------------------------------------------------------------------------------------------------
// Input
$--input-background-color = $--form-background-color;
$--input-boder = $-form-border;
$--input-radius = $--form-boder-radius;
$--input-color = $--form-color;
$--input-placeholder-color = $--form-placeholder-color;
$--input-hover-border-color = $-form-hover-border-color;
$--input-focus-borer-color = $--color-primary;
$--input-disabled-background-color = $--form-disabled-background-color;
$--input-disabled-border-color = $--form-disabled-border-color;
$--input-disabled-color = $--form-disabled-color;
$--input-fix-color = $--form-disabled-color;
$--input-group-color = $--form-disabled-color;
$--input-group-background-color = $--form-disabled-background-color;
$--input-group-border = $-form-border;
$--input-hover-clear-icon = $--form-placeholder-color;
// -----------------------------------------------------------------------------------------------------------------
// Checkbox
$--checkbox-color = $--form-color;
$--checkbox-boder = $-form-border;
$--checkbox-border-radius = $--form-boder-radius;
$--checkbox-backgroud-color = $--form-background-color;
$--checkbox-border-tick = 2px solid $--color-primary;
$--checkbox-hover-border-color = $--color-primary;
$--checkbox-checked-background-color = $--form-background-color;
$--checkbox-checked-border-color = $--color-primary;
$--checkbox-disabled-border-color = $--form-disabled-border-color;
$--checkbox-disabled-background-color = $--form-disabled-background-color;
$--checkbox-disabled-hover-border-color = $--form-disabled-border-color;
$--checkbox-disabled-label-color = $--form-disabled-color;
$--checkbox-checked-disabled-border-color = $--form-disabled-border-color;
$--checkbox-checked-disabled-background-color = $--form-disabled-background-color;
$--checkbox-checked-disabled-tick = $--form-disabled-border-color;
$--checkbox-indeterminate = $--color-primary;
// -----------------------------------------------------------------------------------------------------------------
// Radio
$--radio-color = $--form-color;
$--radio-boder = $-form-border;
$--radio-backgroud-color = $--form-background-color;
$--radio-dot-color = $--color-primary;
$--radio-hover-border-color = $--color-primary;
$--radio-checked-background-color = $--form-background-color;
$--radio-checked-border-color = $--color-primary;
$--radio-disabled-background-color = $--form-disabled-background-color;
$--radio-disabled-border-color = $--form-disabled-border-color;
$--radio-disabled-hover-border-color = $--form-disabled-border-color;
$--radio-disabled-label-color = $--form-disabled-color;
$--checkbox-checked-disabled-border-color = $--form-disabled-border-color;
$--checkbox-checked-disabled-background-color = $--form-disabled-background-color;
$--checkbox-checked-disabled-dot = $--form-disabled-border-color;
// -----------------------------------------------------------------------------------------------------------------
// Select
$--select-color = $--form-color;
$--select-empty-color = $--form-disabled-color;
$--select-dropdown-backgroud-color = $--form-background-color;
$--select-dropdown-box-shadow = 0 0 2px #808080;
$--select--option-hover-background-color = #f1f7fa;
$--select--option-hover-color = $--color-primary;
$--select--option-selected-color = $--color-primary;
// -----------------------------------------------------------------------------------------------------------------
// Button
$--button-border = 1px solid $--color-primary;
$--button-background-color = $--color-primary;
$--button-color = $--color-white;
$--button-palin-color = $--color-primary;
$--button-palin-background-color = $--color-white;
$--button-background-success-color = #67c23a;
$--button-background-warning-color = #e6a23c;
$--button-background-danger-color = #f56c6c;
// -----------------------------------------------------------------------------------------------------------------
// Tree
$--tree-background-color = $--form-background-color;
$--tree-color = $--form-color;
$--tree-empty-color = $--form-disabled-color;
// TreeNode
$--tree-node-hover-background-color = #F1F7FA;
$--tree-node-icon-color = #aaaaaa;
$--tree-node-select-background-color = $--color-primary;
$--tree-node-select-color = $--color-white;
// -----------------------------------------------------------------------------------------------------------------
// DateTimePicker
$--date-time-color = $--form-color;
$--date-time-cell-hover-background-color = #e6f7ff;
$--date-time-select-background-color = $--color-primary;
$--date-time-select-color = $--color-white;
$--date-time-prev-next-cell = #c0c4cc;
$--date-time-disabled-color = $--form-disabled-color;
$--date-time-disabled-background-color = $--form-disabled-background-color;
$--date-time-week-color = #606266;
$--date-time-today-color = $--color-primary;
$--date-time-today-dsiabled-border = 1px solid #bcbcbc;
$--date-time-boder-color = $--form-boder-color;
$--date-time-button-hover-color = $--color-primary;
$--date-time-icon-color = $--color-primary;
$--date-time-footer-button-color = $--color-primary;
$--date-time-footer-button-confirm-color = $--color-primary;
$--date-time-footer-button-confirm-background-color = $--color-white;
// -----------------------------------------------------------------------------------------------------------------
// Modal
$--modal-color = $--form-color;
$--modal-mask-background-color = rgba(0, 0, 0, 0.6);
$--modal-box-shadow = 0px 0px 20px 0px rgba(204, 204, 204, 0.4);
$--modal-box-background-color = $--color-white;
$--modal-header-border = 1px solid #e3e8ea;
$--modal-header-close-color = #999999;
// -----------------------------------------------------------------------------------------------------------------
// Avatar
$--avatar-color = $--color-white;
$--avatar-background-color = $--color-primary;
// -----------------------------------------------------------------------------------------------------------------
// Table
$--table-background-color = #fff;
$--table-color = #606266;
$--table-border-color = #e3e3e3;
$--table-thead-th = #787878;
$--table-th-background = #f5f5f5;
$--table-td-background = #fff;
$--table-tbody-td = #333333;
$--table-tbody-td-odd = #fff;
$--table-tbody-td-even = #fafafa;
$--table-bar-box-background = rgba(240, 240, 240, 1);
$--table-bar-box-width = 14px;
$--table-bar-button-size = -14px;
$--table-bar-box-drop-background = rgba(192, 192, 192, 1);

// -----------------------------------------------------------------------------------------------------------------
// Pagination
$--pagination-color = #999;
$--pagination-text-color = #666666;
$--pagination-text-active-color = #0a72e8;
$--pagination-text-disabled-color = #c0c4cc;
$--pagination-background = #f4f4f5;
$--pagination-background-text-color = #606266;
$--pagination-active-background = #409eff;
$--pagination-active-background-text-color = #fff;
// -----------------------------------------------------------------------------------------------------------------
// cys-cascader
$--cascader-color = $--form-color;

// cys-scrollbar
$--cys-scroll-bar-width = 5px;
$--cys-scroll-bar-wrap-background = rgba(0,0,0,0.6);
$--cys-scroll-bar-background = rgba(0,0,0,0.9);

// -----------------------------------------------------------------------------------------------------------------
// cyiTable
$--table-background-color = #fff;
$--table-color = #606266;
$--table-border-color = #e3e3e3;
$--table-header-group-color = #787878;
$--table-cell-padding = 5px 10px;
$--table-row-odd = #fff;
$--table-row-even = #fafafa;