
.demo-block {
    textarea {
        font-family: Microsoft Yahei !important;
    }

    .cys-textarea {
        width: 70%;

        & + .cys-textarea {
            margin-top: 20px;
        }
    }
}
