// Colors
$--color-white = #ffffff;
$--color-black = #000000;
$--color-primary = #41a259;
// Form
$--form-color = #444444;
$--form-placeholder-color = #999999;
$--form-background-color = #ffffff;
$--form-boder-width = 1px;
$--form-boder-style = solid;
$--form-boder-color = #e4eaed;
$--form-boder-radius = 2px;
$-form-border = $--form-boder-width $--form-boder-style $--form-boder-color;
$-form-hover-border-color = #c0c4cc;
$--form-disabled-color = #c0c4cc;
$--form-disabled-background-color = #f5f7fa;
$--form-disabled-border-color = #e4e7ed;
// Input
$--input-background-color = $--form-background-color;
$--input-boder = $-form-border;
$--input-radius = $--form-boder-radius;
$--input-color = $--form-color;
$--input-placeholder-color = $--form-placeholder-color;
$--input-hover-border-color = $-form-hover-border-color;
$--input-focus-borer-color = $--color-primary;
$--input-disabled-background-color = $--form-disabled-background-color;
$--input-disabled-border-color = $--form-disabled-border-color;
$--input-disabled-color = $--form-disabled-color;
$-input-fix-color = $--form-disabled-color;
$-input-group-color = $--form-disabled-color;
$-input-group-background-color = $--form-disabled-background-color;
$-input-group-border = $-form-border;
// Checkbox
$--checkbox-color = $--form-color;
$--checkbox-boder = $-form-border;
$--checkbox-border-radius = $--form-boder-radius;
$--checkbox-backgroud-color = $--form-background-color;
$--checkbox-border-tick = 2px solid $--color-primary;
$--checkbox-hover-border-color = $--color-primary;
$--checkbox-checked-background-color = $--form-background-color;
$--checkbox-checked-border-color = $--color-primary;
$--checkbox-disabled-border-color = $--form-disabled-border-color;
$--checkbox-disabled-background-color = $--form-disabled-background-color;
$--checkbox-disabled-hover-border-color = $--form-disabled-border-color;
$--checkbox-disabled-label-color = $--form-disabled-color;
$--checkbox-checked-disabled-border-color = $--form-disabled-border-color;
$--checkbox-checked-disabled-background-color = $--form-disabled-background-color;
$--checkbox-checked-disabled-tick = $--form-disabled-border-color;
$--checkbox-indeterminate = $--color-primary;
// Radio
$--radio-color = $--form-color;
$--radio-boder = $-form-border;
$--radio-backgroud-color = $--form-background-color;
$--radio-dot-color = $--color-primary;
$--radio-hover-border-color = $--color-primary;
$--radio-checked-background-color = $--form-background-color;
$--radio-checked-border-color = $--color-primary;
$--radio-disabled-background-color = $--form-disabled-background-color;
$--radio-disabled-border-color = $--form-disabled-border-color;
$--radio-disabled-hover-border-color = $--form-disabled-border-color;
$--radio-disabled-label-color = $--form-disabled-color;
$--checkbox-checked-disabled-border-color = $--form-disabled-border-color;
$--checkbox-checked-disabled-background-color = $--form-disabled-background-color;
$--checkbox-checked-disabled-dot = $--form-disabled-border-color;
// Select
$--select-color = $--form-color;
$--select-empty-color = $--form-disabled-color;
$--select-dropdown-backgroud-color = $--form-background-color;
$--select-dropdown-box-shadow = 0 0 2px #808080;
$--select--option-hover-background-color = #f1f7fa;
$--select--option-hover-color = $--color-primary;
$--select--option-selected-color = $--color-primary;
// Button
$--button-border = 1px solid $--color-primary;
$--button-background-color = $--color-primary;
$--button-color = $--color-white;
$--button-palin-color = $--color-primary;
$--button-palin-background-color = $--color-white;
// Tree
$--tree-background-color = $--form-background-color;
$--tree-color = $--form-color;
$--tree-empty-color = $--form-disabled-color;
// TreeNode
$--tree-node-hover-background-color = #F1F7FA;
$--tree-node-icon-color = #aaaaaa;
$--tree-node-select-background-color = $--color-primary;
$--tree-node-select-color = $--color-white;